/*
I have added the basic iTunes background to give a more original feel
*/
.root{
    -fx-background-image: url("../img/apple-music-background.jpg");
    -fx-background-size: cover;
}

/*
    I have taken inspiration for this table css from: https://edencoding.com/style-tableview-javafx/#individual-column-headers
    I have made some modifications - changed colors rest is the same, I had to take up the content from the site as I hadn't known about these selectors !! It was fun using them!!
    If don't want to consider this for marking it's fine I just to give it a professional look, I have styled other elements consider for marking purpose if you wish.
    Thank you !!
*/
.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #DD1DD344, #23ABFF44);
    -fx-background-radius: 7px 7px 0px 0px;
    /*-fx-background-insets: 0 11px 0 0;*/
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    /*-fx-padding: 2 0 2 10px;*/
}
.table-row-cell:hover {
    /*-fx-background-color: rgb(0, 255, 233);*/
    -fx-text-background-color: #551ea6;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    /*-fx-background-insets: 0, 0 0 1 0;*/
    /*-fx-padding: 0.0em;*/
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    /*-fx-background-insets: 0, 0 0 1 0;*/
    /*-fx-padding: 0.0em;*/
}

.table-row-cell:selected .text{
    -fx-fill: #247924;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, rgba(221, 29, 211, 0.27), rgba(35, 171, 255, 0.27));
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, #1dbbdd44, #93f9b944);
}

.table-row-cell:selected .text{
    -fx-fill: #247924;
}

/*
This is part of my custom styling that I have used my imagination to build!
*/
Button{
    -fx-background-color: linear-gradient(to left, rgba(158, 62, 187, 0.78), rgba(60, 132, 224, 0.65));
    -fx-background-radius: 15px;
    -fx-padding: 3px 15px;
    /* This is a cool effect that I came across while on the CSS part of the project - Stackoverflow is awesome!!*/
    -fx-effect: dropshadow(one-pass-box, rgba(255, 255, 255, 0.46), 7, 1, 0, 0);

}
Button .text{
    -fx-fill: white;
    -fx-font-size: 14px;
}

#backButton .text{
    -fx-font-size: 17px;
}

TextField {
    -fx-background-color: transparent;
    -fx-border-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(to left, rgba(157, 85, 176, 0.78), rgba(95, 159, 243, 0.65));
}

.headingLabel .text{
    -fx-font-size: 35px;
    -fx-fill:  linear-gradient(to right, rgba(76, 229, 225, 0.78), rgba(80, 66, 66, 0.65));
}

ImageView {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 8, 0, 5, 0);
}

GridPane .text {
    -fx-fill: linear-gradient(to bottom, rgb(61, 110, 110), rgb(108, 72, 43));
    -fx-font-size: 17px;
}

#coverImageView{
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.65), 7, 1, 0, 0);
}